:root{
    --primary-dm-bg-color: #020617;
    --primary-dm-font-color: #F1F5F9;
    --primary-dm-container-color: #0F172A;
    --button-dm-color: #38BDF8;
    --primary-bg-color: #F8FAFC;
    --primary-font-color: #0F172A;
    --primary-container-color: #E2E8F0;
    --button-color: #0EA5E9;
    --button-hover-color: #0284C7;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: var(--primary-bg-color);
    color: var(--primary-font-color);
    font-family: Arial, sans-serif;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 20px;
    background-color: var(--primary-container-color);
    border-radius: 4px;
    width: 25%;
}

h1{
    text-align: center;
}

button{
    padding: 5px 10px;
    background-color: var(--button-color);
    border-radius: 4px;
    border: 0px;
    cursor: pointer;
}

button:hover{
    background-color: var(--button-hover-color);
}

input{
    padding: 5px;
    width: 300px;
}

ul {
    padding: 20px 0px;
    margin: 0px;
    list-style-type: none;
}

ul li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--primary-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#taskForm {
    display: flex;
    justify-content: center;
    gap: 10px;
}